
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.logo2{

top: 20px;
margin-left: 40px;
width: 38px;
height: 13px;

opacity:0.5;
margin-top: -20px;


}

.photo{
    top: 10px;
    left: 1390px;
    width: 30px;
    height: 30px;
    background: transparent url('48a40f61-0e8d-4b3c-875d-099616a31f7e.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-left: 1850px;
    margin-top: -45px;
    }

header{
    width: 100vw;
    height: 60px;
    border-bottom: solid 1px rgba(16, 16, 16, 0.1);
    font-family: 'Poppins';
    background: transparent url('img/base.png') 0% 0% no-repeat padding-box;
    
    
   
}

header .inner{
    width: 100%; /* This is the inner width of the content inside of your header (80%, etc) */
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: #F6F8F9;
}

header .logo{
    display: table;
    height: 100%;
    float: left;
}

header .logo div{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

header nav{
    float: right;
    height: 100%;
    margin-right: 100px;
    opacity:0.5 ;
    margin-left: 40px;
    
}

header nav li{
    display: table;
    height: 100%;
    float: left;
    margin-right: 30px;
}

header nav li:last-of-type{
    margin-right: 0;
}

header nav span {
    display: table-cell;
    vertical-align: middle;
}

header nav a{
    color: #101010;
}

header nav .button{
    background-color: #1ab26b; /* This HEX is the color of the button */
    color: #FFF;
    padding: 10px 20px;
    border-radius: 4px;
}

header nav .button:hover{
    filter: brightness(1.05);
}

.photo1{

width: 1040px;
height: 700px;
    background: transparent url('Screenshot\ 2021-11-28\ 033532.png') 0% 0% no-repeat padding-box;

}

.step2{
    margin-left:250px ;
    margin-bottom:40px ;

    margin-top:15px ;
    background: transparent url('img/title.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.step3{

    width: 400px;
    height: 320px;
    background-color:white;
    margin-left: 270px;
    margin-right:-195px ;
    display: inline-block;

}

.enathertext3{
    text-align: justify;
    margin-left: 50px;
    margin-top: 15px;
    background-color: white;

}

.photo4{

    width: 400px;
    height: 170px;
   
}

.photo5{

    width: 400px;
    height: 170px;
}

.text5{

    
    text-align: justify;
    margin-left: 50px;
    margin-top: -10px;
    color:grey;
    background-color: white;

}

.dad{

    display: flex;
    margin-left:150px ;
     display: table-cell;
    vertical-align: middle;
  

    
}

.citi{
    position:absolute;
 background: none;
 color: white;
 margin-left:300px ;
 margin-top: 130px;
   

}

.travel{

    position:absolute;
 background: none;
 color: white;
 margin-left:300px ;
 margin-top: 700px;
}

.time{


    width: 16px;
    height: 16px;
}
.time2{
        width: 16px;
        height: 16px;
    }
    
.time3{
        width: 16px;
        height: 16px;
        
     background: none;

    }
    
.father{
    height: 500px;
    display: inline-block;
    vertical-align: middle;
}


.happening.now{

    margin-left: 250px;
    margin-bottom: 50px;

}

.happening.now2{

 margin-left: 150px;
left: 140px;
width: 900px;
height: 500px;
 

}
.spilo{

  display: flex;
   
    }
.spilo2{
    
    width: 400px;
    height: 260px;
    margin-left: 100px;
    
    }
    .spilo3{

    margin-top: 275px;
    margin-left:-395px;    
    
    }
    .spilo4{
        margin-top: 305px;
       margin-left:-80px ;
       color: gray;

    }
    .father{
        display: flex;
        margin-left:100px ;


    }

    .bird{

        width: 400px;
        height: 260px;
        margin-top: 360px;
        margin-left: -160px;
    }
    .bird2{
   margin-top: 635px;
   margin-left: -395px;

    }
    .bird3{
        margin-top: 665px;
        margin-left: -80px;
        color: gray;

    }

    .forest{
          
    width: 900px;
    height: 500px;
    margin-left:-1120px ;
    margin-top: 560px;
    }
    .road{
       width: 400px;
        height: 260px;
      margin-top: 720px;
        margin-left: 105px;
    }
    .road2{
        width: 400px;
        height: 100px;
        margin-top: 995px;
        margin-left: -390px;
    }
.road3{
    margin-top: 1025px;
    margin-left: -400px;
    color: gray;
}

.happening.text{
    
margin-bottom: -350px;
position: absolute;
background: none;
color: white;
margin-left:300px ;
margin-top: 340px;

}
.happening.text2{
    
    margin-bottom: -350px;
    position:absolute;
 background: none;
 color: white;
 margin-left:300px ;
 margin-top: 380px;
   
    }

.happening.text3{
    margin-bottom: -350px;
    position: absolute;
    background: none;
    color:white;
    margin-left:-840px ;
    padding-top: 885px;
    
    }
    
    .happening.text4{
        
    padding-bottom: -350px;
     position:absolute;
     background: none;
     color: white;
     margin-left:-840px ;
   padding-top: 930px;
     
        
        }

        .futter{
      width: 1910px;
      height: 200px;
      margin-top:700px;
      background-color: #A6ADB4;
      display: table;

               }
  
   .name{
background-color: #A6ADB4;
color: black;
opacity:0.5;
margin-left: 240px;
display: block;
margin: top 90px;
padding: 10px;


   }

header .name9{

margin-left:120px ;
background-color: red;
  margin-top:40px ;



   }

.world{

    position:absolute;
    background:none;
    color: white;
    margin-top: 200px;
    margin-left:140px ;
   

}
.world.line{

width: 700px;
height: 2px;
position:absolute;
background-color: white;
margin-top: 270px;
margin-left: 140px ;

}

.world2{
    position:absolute;
    background:none;
    color: white;
    margin-left:145px ;
    margin-top:300px ;

}
.world3{
    position:absolute;
    background:none;
    color: white;
    margin-left:145px ;
    margin-top:350px ;

}
.world4{
    position:absolute;
    background-color: #FA6980;
    color: white;
    width: 180px;
    height:50px ;
    margin-left:125px ;
    margin-top:400px ;
 font-size: 20px;
 border-radius: 10px;
 
}

.more.news{

    width: 850px;
    height: 700px;
    background-color:white;
   display: inline-flex;
   display: inline-block;

}
.more1{

    position:absolute;
    background: none;
    margin-left:10%;
    margin-top:7% ;

}
.line{
    position:absolute;
    width: 450px;
    height: 2px;
    background-color: #EBEDED;
    margin-left: 10%;
    margin-top:10% ;
}
.travel2{

    color: #FA6980;
    background: none;
    position:absolute;
    margin-left: 10%;
    margin-top:12% ;
    font-size: 25px;

}


.title{

    background: none;
    position:absolute;
    text-align: justify;
    margin-left: 10%;
    margin-top:16% ;
    opacity: 0.5;
    
}
.title2{
    background: none;
    position:absolute;
    text-align: justify;
    margin-left: 10%;
    margin-top:14% ;
    font-size: 25px;


}


.title3{
    color: #FA6980;
    background: none;
    position:absolute;
    text-align: justify;
    margin-left: 10%;
    margin-top:21% ;
    font-size: 25px;
}
.title4{
    
    background: none;
    position:absolute;
    text-align: justify;
    margin-left: 10%;
    margin-top:25% ;
   opacity: 0.5;
  
}
.title5{
    background: none;
    position:absolute;
    text-align: justify;
    margin-left: 10%;
    margin-top:23% ;
    font-size: 25px;
   


}

.dad2{

    
   
     display: table-cell;
    vertical-align: middle;

}

.footer{
height: 20px;
}

.arrow{
width:100% ;
height: 1000%;
    display: flex;
    margin-top: 600px;
    background-color: #A6ADB4;

}
.footer6{
    display: flex;
    text-decoration: none;
    margin-top: 58px;
    background-color: #A6ADB4;
}
.Nav1 , .Nav2, .Nav3{
    padding: 5px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    color: #CBD0D3;
    margin-left: 57px;
    background-color: #A6ADB4;

}
.Logo9{
   width: 38px;
   height: 13px;
   margin-top: 8px;
   background-color: #A6ADB4;

   margin-left: 142px;
}

.Email{
   background-color: #A6ADB4;
   width: 262px;
   height: 40px;
   margin-left: 395px;
   margin-top: 58px;
   border-radius: 3px;
   color: black;
}
.Email2{
    background-color:  #A6ADB4;
   font-size: 12px;
   color: #CBD0D3;
   margin-left: 960px;
   width: 243px;
   height: 9px;
   margin-top: -80px;
}


.twitter , .Instagram ,.google ,.facebook{
   margin-left: 32px;
   background: none;
}
.social{
   margin-left: 1294px;
   margin-top: -70px ;
 
}
